In [1]:
import pandas as pd
import numpy as np
import pickle as pkl

In [2]:
with open('../session_data.pkl', 'rb') as f:
    dt = pkl.load(f)

In [3]:
dt

{'delicious':           user  bookmarkID  item     timestamp sessionId
 43           8          30     1  1.289184e+09       8_8
 48           8          33    36  1.289183e+09       8_8
 56           8          37    40  1.289183e+09       8_8
 58           8          38    41  1.289183e+09       8_8
 59           8          41    43  1.289154e+09       8_7
 ...        ...         ...   ...           ...       ...
 437588  108035       30993   193  1.277495e+09  108035_1
 437589  108035       30993   673  1.277495e+09  108035_1
 437590  108035       30994   130  1.277224e+09  108035_0
 437591  108035       30994   267  1.277224e+09  108035_0
 437592  108035       30994  4943  1.277224e+09  108035_0

 [249919 rows x 5 columns],
 'ciao':        user   item   timestamp sessionId
 412       7    407  1245913200       7_5
 414       7    409  1245913200       7_5
 415       7    410  1245913200       7_5
 417       7    412  1244876400       7_4
 419       7     13  1244876400       7_4
 ...     ...    ...         ...       ...
 35950  2369   6663   972457200    2369_0
 35958  2370   9636   977554800    2370_2
 35959  2370  11881   977554800    2370_2
 35963  2370   1468   976863600    2370_1
 35964  2370  10720   976863600    2370_1

 [1128 rows x 4 columns],
 'lastfm':         user  item     timestamp sessionId
 0          2    13  1.238537e+09       2_0
 1          2    15  1.238537e+09       2_0
 2          2    18  1.238537e+09       2_0
 3          2    21  1.238537e+09       2_0
 6          2    14  1.238537e+09       2_0
 ...      ...   ...           ...       ...
 186467  2100  2087  1.254348e+09    2100_3
 186469  2100     4  1.241129e+09    2100_1
 186470  2100  3510  1.241129e+09    2100_1
 186474  2100     4  1.277935e+09    2100_5
 186476  2100  2087  1.277935e+09    2100_5

 [38367 rows x 4 columns],
 'gowalla':            user     item   timestamp sessionId
 2             0   316637  1287358923     0_134
 3             0    16516  1287343565     0_134
 5             0    15372  1286927883     0_132
 6             0    21714  1286920931     0_132
 7             0   420315  1286912680     0_132
 ...         ...      ...         ...       ...
 6442867  196578  1160482  1276339638  196578_1
 6442871  196578   467635  1276270978  196578_0
 6442873  196578   797460  1276270940  196578_0
 6442887  196578   906885  1276263146  196578_0
 6442889  196578  1174322  1276262794  196578_0

 [1799355 rows x 4 columns],
 'epinions':          user   item  timestamp sessionId
 15          2     16  973580400       2_9
 16          2      1  973580400       2_9
 27          2     27  954399600       2_5
 28          2     28  954399600       2_5
 32          2     32  951289200       2_2
 ...       ...    ...        ...       ...
 922201  22162  46330  971593200   22162_4
 922202  22162  14975  971593200   22162_4
 922249  22165  32059  961052400   22165_0
 922253  22165   9064  961052400   22165_0
 922254  22165  23200  961052400   22165_0

 [101622 rows x 4 columns],
 'douban':             user   item     timestamp sessionId
 15        630154     15  1.144166e+09  630154_1
 16        630154     16  1.144166e+09  630154_1
 17        630154     17  1.144166e+09  630154_1
 18        630154     18  1.144166e+09  630154_1
 19        630154     19  1.144166e+09  630154_1
 ...          ...    ...           ...       ...
 11742153   37847  18727  1.475856e+09  37847_24
 11742154   37847    693  1.475856e+09  37847_24
 11742155   37847   1281  1.475856e+09  37847_24
 11742183   37847  10790  1.480954e+09  37847_34
 11742184   37847   6750  1.480954e+09  37847_34

 [2688314 rows x 4 columns],
 'reddit':                user              item     timestamp      sessionId
 0         kabanossi  photoshopbattles  1.482748e+09  kabanossi_264
 1         kabanossi      GetMotivated  1.482748e+09  kabanossi_264
 2         kabanossi            vmware  1.482748e+09  kabanossi_264
 3         kabanossi           carporn  1.482748e+09  kabanossi_264
 4         kabanossi               DIY  1.482747e+09  kabanossi_264
 ...             ...               ...           ...            ...
 13999910     RushNY        dogemarket  1.407459e+09      RushNY_43
 13999911     RushNY          dogecoin  1.407459e+09      RushNY_43
 13999913     RushNY         iOSthemes  1.407457e+09      RushNY_43
 13999968     RushNY              cars  1.406746e+09      RushNY_19
 13999970     RushNY          dogecoin  1.406743e+09      RushNY_19

 [2874671 rows x 4 columns]}

In [4]:
df = dt['delicious']
df

          user  bookmarkID  item     timestamp sessionId
43           8          30     1  1.289184e+09       8_8
48           8          33    36  1.289183e+09       8_8
56           8          37    40  1.289183e+09       8_8
58           8          38    41  1.289183e+09       8_8
59           8          41    43  1.289154e+09       8_7
...        ...         ...   ...           ...       ...
437588  108035       30993   193  1.277495e+09  108035_1
437589  108035       30993   673  1.277495e+09  108035_1
437590  108035       30994   130  1.277224e+09  108035_0
437591  108035       30994   267  1.277224e+09  108035_0
437592  108035       30994  4943  1.277224e+09  108035_0

[249919 rows x 5 columns]

In [16]:
df.groupby('user')['sessionId'].unique()

user
8                       [8_8, 8_7, 8_6, 8_5, 8_4, 8_3, 8_2]
32                                 [32_6, 32_4, 32_1, 32_0]
57        [57_13, 57_12, 57_11, 57_10, 57_8, 57_7, 57_5,...
147       [147_17, 147_16, 147_15, 147_14, 147_13, 147_1...
233       [233_49, 233_48, 233_47, 233_46, 233_45, 233_4...
                                ...
107686    [107686_21, 107686_48, 107686_46, 107686_45, 1...
107755                                           [107755_0]
107862    [107862_37, 107862_46, 107862_44, 107862_43, 1...
107984                                           [107984_0]
108035    [108035_2, 108035_4, 108035_5, 108035_0, 10803...
Name: sessionId, Length: 1752, dtype: object

In [13]:
type(df.groupby('user')['sessionId'].unique())

pandas.core.series.Series

In [15]:
df.groupby('user')['sessionId'].unique().apply(np.random.choice)

user
8               8_8
32             32_1
57            57_12
147          147_15
233           233_5
            ...
107686    107686_24
107755     107755_0
107862    107862_17
107984     107984_0
108035     108035_2
Name: sessionId, Length: 1752, dtype: object